.header {
    text-align: center;
    background-color: #bfcdbf;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    
    padding-top: 10px;
    padding-bottom: 20px;

    border-radius: 12px;
}
.header > h1 {
    font-size: 70px;
    line-height: 100px;
}
.header > p {
    font-size: 26px;
    line-height: 40px;
}

.single_web {
    background-color: #FB9966;
    margin-top: 10px;
    border-radius: 8px;
    border: 1.5px solid black;
}

.single_web > a {
    line-height: 200px;
    text-decoration: none;
    color: black;
    font-size: 50px;
    text-align: center;

    display: block;
}

.schedule > table {
    text-align: center;
}
.schedule td,th{
    width: 12.5%;
}
.schedule tr{
    height: 45px;
}

table,thead,tbody,tr,th,td{
    border: 1.5px solid black;
}

.web-contain{
    margin-top: 15px;
    height: 900px;
}

.left,.right{
    height: 100%;
    text-align: left;
    line-height: 36px;
    font-size: 20px  ;
    background-color: #6cB4Ae;
}
.center{
    background-color: #ccc;
}

body{
    background-color: #f7bd77;
}

.al > a > img {
    border-radius: 50%;
}